*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.decoration-none{
    text-decoration: none;
}
.home-link{
    text-decoration: none;
    cursor: pointer;
    color: aqua;
    background: #000;
}

.nav-elements{
    display: inline-block;
    margin-left: 17px;
}

.nav{
    text-align: center;
    display: inline-block;
    width: 100vw;
    padding: 1rem;
    background: #e4dc52d5;
}
.nav-links{
    text-decoration: none;
}
.nav-links:hover{
    color: white;
}
.nav-links__active{
    color: gray;
    text-decoration: underline;
}
.products-page a{
    text-decoration: none;
    color: black;
}

.products-page li{
    list-style: none;
    margin: 4px;
}
.product-details button{
    display: block;
    margin: 10px;
}